rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow authenticated users to read and write to all collections
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
    
    // Specific rules for different collections
    match /adoptionRequests/{document} {
      allow read, write: if request.auth != null;
    }
    
    match /lostPets/{document} {
      allow read, write: if request.auth != null;
    }
    
    match /pets/{document} {
      allow read, write: if request.auth != null;
    }
    
    match /reports/{document} {
      allow read, write: if request.auth != null;
    }
    
    match /approvedReports/{document} {
      allow read, write: if request.auth != null;
    }
    
    match /rejectedReports/{document} {
      allow read, write: if request.auth != null;
    }
    
    match /foundPets/{document} {
      allow read, write: if request.auth != null;
    }
    
    match /donations/{document} {
      allow read, write: if request.auth != null;
    }
    
    match /newsfeed/{document} {
      allow read, write: if request.auth != null;
    }
    
    match /users/{document} {
      allow read, write: if request.auth != null && request.auth.uid == resource.id;
    }
  }
}
